@use '../base/variables' as *;

.title-embelishment {
    font-family: 'Embelishments', sans-serif;
    font-size: 2.5em;
    transform: translate(10px, -30px) scale(1.5, 1.25);

    &--note {
        transform: translate(15px, -30px) scale(2, 1.25);
    }

    @media only screen and (max-width: 1200px) {
        font-size: 1.75em;
    }

    @media only screen and (max-width: 993px) {
        transform: translate(10px, -30px);
        font-size: 2.5em;
    }
}

.welcome-embelishment {
    font-family: 'Embelishments', sans-serif;
    color: $white;
    font-size: 3.5em;
    display: flex;

    &--bottom {
        transform: scale(1, -1);
    }

    @media only screen and (max-width: 1200px) {
        font-size: 2.5em;
    }

    @media only screen and (max-width: 993px) {
        font-size: 3.5em;
    }
}

.rsvp-embelishment {
    font-family: 'Embelishments', sans-serif;
    color: $green;
    font-size: 2.5em;
    display: flex;
    justify-content: center;

    &--bottom {
        transform: scale(1, -1);
    }

    @media only screen and (max-width: 993px) {
        font-size: 1.5em;
    }
}

.menu-dropdown-embelishment {
    font-family: 'Embelishments', sans-serif;
    font-size: 0.75em;
    color: $gold;

    &--bottom {
        transform: scale(1, -1);
    }

    @media only screen and (max-width: 576px) {
        font-size: 0.5em;
    }
}