@use '../base/variables' as *;

header {
    position: absolute;
    display: flex;
    height: 100px;
    width: 100%;
    top: 0;
    justify-content: space-between;
    align-items: center;
    color: $white;    
    z-index: 1000;

    &.fixed-header {
        color: $green;
        border-bottom: 3px solid $green;

        .logo {    
            &--fixed {
                display: block;
            }

            &--static {
                display: none;
            }
        }
    }

    &.open-menu {
        .menu {
            .menu-overlay {
                display: block;
            }
        }
    }

    > .row {
        width: 100%;
    }

    .header-wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        padding: 0 20px;
        max-width: 200px;

        img {
            width: 100%;
            height: auto;
            object-fit: contain;
        }

        &--fixed {
            display: none;
        }
    }

    .menu {
        padding: 0 20px;
        font-family: 'Playball';
        font-size: 3.5em;
        height: 100px;
        position: relative;

        .menu-button {
            font-family: 'Ephesis', sans-serif;
            height: 100%;
            display: flex;
            align-items: center;
            cursor: pointer;
        }

        .menu-overlay {
            display: none;    
            position: fixed;
            top: 100px;
            width: 100vw;
            left: 0;
            height: calc(100vh - 99px);
        }

        .menu-dropdown {
            display: none;    
            position: fixed;
            background-color: $green;
            padding: 30px;
            top: 100px;
            right: 0;
            height: calc(100vh - 99px);
            width: 460px;
            text-align: center;
            overflow-y: scroll;
            cursor: pointer;

            .menu-item {
                display: block;
                font-size: 0.7em;
                color: $gold;
                text-decoration: none;
                user-select: none;
                opacity: 0;

                &::before, &::after {
                    font-family: 'Embelishments', sans-serif;
                    display: inline-block;
                    content: 'O';
                    margin: 0 10px;
                    transform: translate(0, -5px);

                    @media only screen and (max-width: 576px) {
                        font-size: 0.6em;
                    }
                }

                &:after {
                    transform: translate(0, -5px) scale(-1, 1);
                }
            }
        }
    }
}