/* RSVP Button */
#rsvp-button {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: #8c6a4e;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

#rsvp-button:hover {
    background-color: #a47b5e;
}