.schedule {
    display: flex;
    flex-direction: column;

    .schedule-item {
        padding-bottom: 10px;
        width: 50%;
        position: relative;
        max-height: 80px;

        &:nth-child(2n) {
            align-self: flex-end;
            border-left: 1px solid black;
            padding-left: 20px;
            width: calc(50% + 1px);

            &::after {
                font-family: 'Embelishments', sans-serif;
                content: 'w';
                font-size: 1.75em;
                z-index: 1;
                width: 70px;
                height: auto;
                color: black;
                position: absolute;
                left: -8px;
                top: -20px;
            }
        }

        &:nth-child(2n+1) {
            align-self: flex-start;
            border-right: 1px solid black;
            padding-right: 20px;

            &::after {
                font-family: 'Embelishments', sans-serif;
                content: 'w';
                font-size: 1.75em;
                z-index: 1;
                width: 70px;
                height: auto;
                color: black;
                position: absolute;
                right: -8px;
                top: -20px;
                transform: scale(-1, 1);
            }
        }

        &:first-child, &:last-child {
            .schedule-item__title, .schedule-item__description {
                transform: translate(0, -10px);
            }

            &::after {
                top: -30px;
            }
        }

        &:last-child {
            border-right: none;
        }

        @media only screen and (max-width: 993px) {
            width: 90%;
            max-height: initial;

            &:nth-child(2n),
            &:nth-child(2n+1) {
                align-self: center;
                border: none;
                padding: 10px 0;
                width: 100%;

                &::after {
                    font-family: 'Embelishments', sans-serif;
                    content: 'B';
                    font-size: 3em;
                    z-index: 1;
                    width: 50%;
                    height: auto;
                    background: none;
                    position: static;
                    display: block;
                    margin: 0 auto;
                    text-align: center;
                }
            }

            &:first-child, &:last-child {
                .schedule-item__title, .schedule-item__description {
                    transform: none;
                }
            }
        }

        &__title {
            margin-bottom: 10px;
            text-align: center;
        }

        &__description {
            margin-bottom: 10px;
            text-align: center;
        }
    }
}