@use '../base/variables' as *;

$section-height: calc(100vh - 100px);

.section {
    width: 100%;
    min-height: $section-height;
    background-color: $beige;
    padding-top: 100px;

    @media only screen and (max-width: 993px) {
        padding: 100px 10px 0;
        min-height: initial;
    }

    &--welcome {
        padding-top: 50px;
        min-height: 100vh;
        background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.5)), url("../assets/splash.jpg?as=webp");
        background-size: cover;

        @media only screen and (max-width: 993px) {
            min-height: initial;
        }

        @media only screen and (max-width: 576px) {
            padding-top: 100px;
            padding-bottom: 25px;
        }

        .welcome-wrapper,
        .welcome-image-wrapper {
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            @media only screen and (max-width: 993px) {
                min-height: initial;
            }
        }

        .welcome-image {
            background-image: url("../assets/p_4.jpg?as=webp");
            background-size: cover;
            background-position: 50% 75%;
            width: 100%;
            height: 70vh;
            border-radius: 2px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        p {
            color: $white;
        }
    }

    &--note {
        .note-wrapper {
            min-height: $section-height;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            p {
                max-width: 90%;
            }
        }

        .note-image-block {
            height: $section-height;
            display: flex;
            align-items: flex-start;
            justify-content: flex-end;

            @media only screen and (max-width: 993px) {
                height: auto;
                margin-bottom: 25px;
            }

            .note-image-wrapper {
                width: 100%;
                height: 80%;
                position: relative;
                overflow: hidden;

                .note-image-cover {
                    width: 100%;
                    height: 100%;
                    top: 0;
                    background-color: $green;
                    content: '';
                    position: absolute;
                    z-index: 2;
                    opacity: 0;
                }

                .note-image {
                    opacity: 0;
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                    z-index: 1;
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }

    &--break {
        max-height: 60vh;
        overflow: hidden;

        @media only screen and (max-width: 993px) {
            padding: 50px 0 0;
        }

        .break-image {
            width: 100%;
            height: 100%;
        }
    }

    &--details {
        .details-wrapper {
            min-height: $section-height;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            @media only screen and (max-width: 993px) {
                margin-bottom: 25px;
            }

            h3 {
                font-size: 3em;
            }

            iframe {
                margin-top: 30px;
            }
        }

        .details-image-block {
            height: $section-height;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;

            @media only screen and (max-width: 993px) {
                height: auto;
                margin-bottom: 25px;
            }

            .details-image-wrapper {
                width: 70%;
                height: 80%;
                position: relative;
                overflow: hidden;

                @media only screen and (max-width: 993px) {
                    width: 100%;
                    height: 100%;
                }

                .details-image {
                    opacity: 0;
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                    z-index: 1;
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .details-image-cover {
                    width: 100%;
                    height: 100%;
                    top: 0;
                    background-color: $gold;
                    content: '';
                    position: absolute;
                    z-index: 2;
                    opacity: 0;
                }
            }
        }
    }

    &--schedule {
        .schedule-wrapper {
            min-height: $section-height;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            iframe {
                margin-top: 30px;
            }

            @media only screen and (max-width: 993px) {
                margin-bottom: 25px;
            }
        }

        .schedule-image-block {

            @media only screen and (max-width: 993px) {
                margin-bottom: 25px;
            }

            .schedule-image-wrapper {
                position: relative;
                overflow: hidden;
                height: $section-height;

                .schedule-image {
                    width: 100%;
                    height: 100%;
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                    opacity: 0;
                    z-index: 1;
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .schedule-image-cover {
                    width: 100%;
                    height: 100%;
                    top: 0;
                    background-color: $green;
                    content: '';
                    position: absolute;
                    z-index: 2;
                    opacity: 0;
                }
            }
        }
    }

    &--accommodations {
        .accommodations-wrapper {
            min-height: $section-height;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            
            @media only screen and (max-width: 993px) {
                min-height: auto;
                margin-bottom: 25px;
            }

            iframe {
                margin-top: 30px;
            }

            ul {
                list-style-type: none;
                font-size: 1.25rem;
            }

            a {
                color: $green;
            }
        }

        .accommodations-image-wrapper {
            height: $section-height;
            position: relative;
            overflow: hidden;

            .accommodations-image {
                width: 100%;
                height: 100%;
                opacity: 0;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                z-index: 1;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .accommodations-image-cover {
                width: 100%;
                height: 100%;
                top: 0;
                background-color: $gold;
                content: '';
                position: absolute;
                z-index: 2;
                opacity: 0;
            }
        }
    }

    &--photos {
        padding-bottom: 50px;

        @media only screen and (max-width: 993px) {
            padding-bottom: 0;
        }

        .photos-wrapper {
            min-height: $section-height;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            ul {
                font-size: 1.35em;

                li {
                    margin-bottom: 10px;
                }
            }
        }

        .photos-image-block {
            display: flex;
            align-items: flex-start;
            justify-content: flex-end;

            .photos-image-wrapper {
                position: relative;
                overflow: hidden;
                height: $section-height;
                width: 90%;
                height: 80%;

                .photos-image {
                    opacity: 0;
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                    z-index: 1;
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .photos-image-cover {
                    width: 100%;
                    height: 100%;
                    top: 0;
                    background-color: $green;
                    content: '';
                    position: absolute;
                    z-index: 2;
                    opacity: 0;
                }
            }
        }
    }

    &--rsvp {
        background-image: url("../assets/p_7.jpg?as=webp");
        background-size: cover;
        background-position: center;
        margin-bottom: 0;

        @media only screen and (max-width: 993px) {
            background: none;
        }

        .rsvp-wrapper {
            min-height: $section-height;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            padding-top: 50px;

            @media only screen and (max-width: 993px) {
                display: block;
                background: $beige;
                min-height: auto;
            }

            h1 {
                color: $grey;

                @media only screen and (max-width: 993px) {
                    font-size: 3em;
                }
            }
        }

        .rsvp-image-wrapper {
            height: $section-height;
            position: relative;
            overflow: hidden;

            .rsvp-image {
                width: 100%;
                height: 100%;
                opacity: 0;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                z-index: 1;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .rsvp-image-cover {
                width: 100%;
                height: 100%;
                top: 0;
                background-color: $gold;
                content: '';
                position: absolute;
                z-index: 2;
                opacity: 0;
            }
        }
    }
}