@font-face {
    font-family: 'Playball';
    src: url('../assets/fonts/Playball-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Matrix Bold';
    src: url('../assets/fonts/Matrix-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Embelishments';
    src: url('../assets/fonts/ThereCanOnlyBeOneBeaverImIt.ttf') format('truetype');
}

@font-face {
    font-family: 'Ephesis';
    src: url('../assets/fonts/Ephesis-Regular.ttf') format('truetype');
}